/* =====================
   HOME PAGE
===================== */

.table-container {
  animation: fadeUp 0.5s ease;
}

#priceSort,
#volumeSort,
#marketCapSort {
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}

#priceSort:hover,
#volumeSort:hover,
#marketCapSort:hover {
  color: #60a5fa;
}

#priceSort i,
#volumeSort i,
#marketCapSort i {
  margin-left: 5px;
  font-size: 13px;
}

.favorite-btn {
  width: 45px;
  height: 45px;
}

.favorite-btn:hover {
  box-shadow: 0 0 20px rgba(250, 204, 21, 0.5);
}

/* Animation */

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
