/* Liked Coins Page */

section h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
}

.remove-btn {
  min-width: 80px;
}

@media (max-width: 768px) {
  section h2 {
    font-size: 24px;
  }
}
